@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gradientText {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
